.ticket {
	max-width: 500px;
	margin: 0 auto;
	padding: 200px;
	background-image: url(../img/images.png) ;
    background-repeat: no-repeat;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	text-align: center;
}

h1 {
	margin-top: 0;
}

p {
	margin: 10px 0;
}

span {
	font-weight: bold;
}

#ticketPrice, #discount, #totalPrice {
	color: green;
}

#discount, #totalPrice {
	margin-top: 20px;
}